# NCAA Tournament Simulations

This notebook simulates the 2015 NCAA Tournament using our distribution of features.

## Setup

In [47]:
# Libraries.
import numpy as np
import pandas as pd
import pickle

# Custom libraries.
import game_predictions
# game_predictions = reload(game_predictions)

# Library settings.
% matplotlib inline
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 200)

In [42]:
# Paths.
# Pre-tournament statistics path.
stats_path = '../../../data/kenpom_summaries/summary15_pt.csv'
# Bracket paths.
tournament_bracket_path = '../../../data/tournament_brackets/2015_64.csv'
final_four_bracket_path = '../../../data/tournament_brackets/2015_4.csv'

## Data

In [14]:
# Read stats.
pre_tournament_stats = pd.read_csv(stats_path)

In [43]:
# Read brackets.
tournament_bracket = pd.read_csv(bracket_path, header=None).values
final_four_bracket = pd.read_csv(final_four_bracket_path, header=None).values

In [50]:
# Trace.
with open('MH_traces.pkl', 'rb') as fid:
    trace = pickle.load(fid)

In [11]:
# Features.
features = ['diff_Pythag','diff_AdjOE','diff_AdjDE','location_Away','diff_RankAdjOE']

## Simulations

#### Whole-Tournament

In [56]:
# Simulate matchups and outcomes.
tournament_matchups, tournament_outcomes = game_predictions.simulate_tournament(tournament_bracket, pre_tournament_stats, features, coef_trace=trace)

In [57]:
tournament_matchups.head()

    winner     loser  round_of  count
0  Arizona    Baylor        16   9973
1  Arizona      Duke         2     43
2  Arizona   Gonzaga         2     70
3  Arizona  Iowa St.         2      2
4  Arizona  Kentucky         4    435

In [59]:
tournament_matchups[tournament_matchups.round_of == 2].sort(c

        winner       loser  round_of  count
1      Arizona        Duke         2     43
2      Arizona     Gonzaga         2     70
3      Arizona    Iowa St.         2      2
7      Arizona        Utah         2      7
9      Arizona   Villanova         2     55
10     Arizona    Virginia         2     69
31        Duke     Arizona         2     25
36        Duke    Kentucky         2     12
44        Duke   Wisconsin         2     28
48     Gonzaga     Arizona         2     28
59     Gonzaga   Wisconsin         2      8
81    Kentucky        Duke         2   1212
82    Kentucky     Gonzaga         2   1946
84    Kentucky    Iowa St.         2      7
90    Kentucky        Utah         2     22
92    Kentucky   Villanova         2   2433
93    Kentucky    Virginia         2   2242
156  Villanova     Arizona         2     66
160  Villanova    Kentucky         2    161
167  Villanova  Notre Dame         2      1
173  Villanova   Wisconsin         2    253
174   Virginia     Arizona         2     70
186   Virginia   Wisconsin         2     56
199  Wisconsin        Duke         2    317
200  Wisconsin     Gonzaga         2    321
201  Wisconsin    Iowa St.         2      2
207  Wisconsin        Utah         2      7
208  Wisconsin   Villanova         2    276
209  Wisconsin    Virginia         2    261

In [58]:
tournament_outcomes

,wins_round_1,wins_round_2,wins_round_3,wins_round_4,wins_round_5,wins_round_6
Albany,0,0,0,0,0,0
Arizona,10000,10000,9999,4826,435,246
Arkansas,10000,27,0,0,0,0
Baylor,10000,9974,1,0,0,0
Belmont,0,0,0,0,0,0
Buffalo,63,34,0,0,0,0
Butler,4975,258,72,0,0,0
Cincinnati,5391,0,0,0,0,0
Coastal Carolina,0,0,0,0,0,0
Davidson,4651,1,1,0,0,0
Dayton,4441,0,0,0,0,0
Duke,10000,9934,6870,3594,1637,65
Eastern Washington,0,0,0,0,0,0
Georgetown,10000,4,0,0,0,0
Georgia,711,0,0,0,0,0
Georgia St.,0,0,0,0,0,0
Gonzaga,10000,9999,9583,4879,2373,36
Hampton,0,0,0,0,0,0
Harvard,0,0,0,0,0,0
Indiana,98,56,0,0,0,0
Iowa,5349,0,0,0,0,0
Iowa St.,10000,7629,416,35,11,0
Kansas,10000,4948,2016,0,0,0
Kentucky,10000,10000,10000,9977,8035,7862
LSU,4982,0,0,0,0,0
Lafayette,0,0,0,0,0,0
Louisville,10000,2274,0,0,0,0
Maryland,9221,4558,0,0,0,0
Michigan St.,9289,34,22,0,0,0
Mississippi,3494,0,0,0,0,0
New Mexico St.,0,0,0,0,0,0
North Carolina,10000,9973,0,0,0,0
North Carolina St.,5018,0,0,0,0,0
North Dakota St.,0,0,0,0,0,0
Northeastern,0,0,0,0,0,0
Northern Iowa,10000,7726,0,0,0,0
Notre Dame,10000,9371,5808,23,1,0
Ohio St.,5062,0,0,0,0,0
Oklahoma,10000,9595,10,0,0,0
Oklahoma St.,5044,0,0,0,0,0
Oregon,4956,0,0,0,0,0
Providence,5559,405,2,0,0,0
Purdue,4609,0,0,0,0,0
Robert Morris,0,0,0,0,0,0
SMU,9966,2371,0,0,0,0
San Diego St.,6359,66,30,5,0,0
St. John's,3641,0,0,0,0,0
Stephen F. Austin,7,3,0,0,0,0
Texas,5025,371,113,0,0,0
Texas Southern,0,0,0,0,0,0
UAB,0,0,0,0,0,0
UC Irvine,0,0,0,0,0,0
UCLA,34,0,0,0,0,0
Utah,9993,9993,3100,1487,36,0
VCU,4938,0,0,0,0,0
Valparaiso,779,38,0,0,0,0
Villanova,10000,10000,10000,5562,3245,481
Virginia,10000,9966,9966,4438,2698,126
West Virginia,9937,5370,0,0,0,0
Wichita St.,9902,4996,1991,0,0,0
Wisconsin,10000,10000,10000,5174,1529,1184
Wofford,0,0,0,0,0,0
Wyoming,0,0,0,0,0,0
Xavier,6506,26,0,0,0,0

#### Final Four

In [52]:
# Simulate matchups and outcomes.
final_four_matchups, final_four_outcomes = game_predictions.simulate_tournament(final_four_bracket, pre_tournament_stats, features, coef_trace=trace)

In [55]:
final_four_matchups

      winner         loser  round_of  count
0       Duke      Kentucky         2     46
1       Duke  Michigan St.         4  10000
2       Duke     Wisconsin         2    185
3   Kentucky          Duke         2   7118
4   Kentucky     Wisconsin         4   7164
5  Wisconsin          Duke         2   2651
6  Wisconsin      Kentucky         4   2836

In [54]:
final_four_outcomes

              wins_round_1  wins_round_2
Duke                 10000           231
Kentucky              7164          7118
Michigan St.             0             0
Wisconsin             2836          2651